<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a class="panel-expander notext fr">&nbsp;</a>
        <h2 class="clipboard">Create Category</h2>
    </div>
    <div class="col-md-4">
        <form (ngSubmit)="save(categoryForm.value)" #categoryForm="ngForm" autocomplete="off">
            <div class="panel-container">
                <div class="options">
                    <ul>
                        <li>
                            <span (mouseenter)="mouseoverCategoty=true" (mouseleave)="mouseoverCategoty=false">
                                <a *ngIf="categoryForm.controls.name?.valid " class="post" (click)="save(categoryForm.value)">Post</a>
                                <a *ngIf="categoryForm.controls.name?.invalid " class="post">Post</a>    
                            </span>
                        </li>
                        <li><a class="cancel" (click)="cancel()">Cancel</a></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="name">Name:  <em *ngIf="categoryForm.controls.name?.invalid && (categoryForm.controls.name?.touched || mouseoverCategoty)">*</em></label>
                    <input [(ngModel)]="name" name="name" required id="name" type="text" class="form-control" placeholder="Name..." />
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input [(ngModel)]="description" name="description" id="description" type="text" class="form-control" placeholder="Description..." />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <categories-list></categories-list>
    </div>
</div>
