@model IEnumerable<PlasticManufacturer.Domain.Entities.Employees.Employee>


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a href="#" class="panel-expander notext fr">&nbsp;</a>
        <h2 class="clipboard">Create Employee</h2>
    </div>
    

    <form action="/Employees/Create" id="create" method="post">
        <div class="panel-container">
            <div class="options">
                <ul>
                    <li>
                        @*@Html.ActionLink("Post", "Create", "", new { @class = "post" })*@
                        <a class="post" href='javascript:create.submit()'>Post</a>
                    </li>

                    <li><a class="cancel" href="/Categories?Length=0">Cancel</a></li>
                </ul>
            </div>

            <input name="__RequestVerificationToken" type="hidden" value="0bGOlBeXSwNB7apfysSHMvITI0tgdpFp66kPMiSozHrktCkrFz_BhDC8grAnbzbcY4dodOyRrabtSlzohuUcVyr0qBcs1QM0LhS--r-cb1k1" />


            <div class="fields-row">
                <div class="fields-bar">
                    <div class="form-group">
                        <div class="col">
                            <label class="control-label " for="First Name">First Name</label>
                            <input class="form-control text-box single-line" id="Email" name="First Name" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="First Name" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col">
                            <label class="control-label" for="Middle">Middle</label>
                            <input class="form-control text-box single-line" id="Name" name="Middle" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Middle" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col">
                            <label class="control-label " for="Last">Last</label>
                            <input class="form-control text-box single-line" id="Description" name="Last" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Last" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                </div>
            </div>


            <div class="fields-row">
                <div class="fields-bar">
                    <div class="form-group">
                        <div class="col">
                            <label class="control-label " for="Birthday">Birthday</label>
                            <input class="form-control text-box single-line" placeholder="00/00/00" id="Birthday" name="Birthday" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Birthday" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col">
                            <label class="custom-select">Sex</label>
                            <select>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="custom-select">Marital Status</label>
                            <select>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fields-row">
                <div class="fields-bar">
                    <div class="form-group">

                        <div class="col">
                            <label class="control-label " for="Hide Date">Hide Date</label>
                            <input class="form-control text-box single-line" id="Hide Date" placeholder="00/00/00" name="Hide Date" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Hide Date" data-valmsg-replace="true"></span>
                        </div>

                        <div class="col">
                            <label class="custom-select">Title</label>
                            <select>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="custom-select">Status</label>
                            <select>
                                <option>Active</option>
                                <option>Off</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>



            <div class="fields-row">
                <div class="fields-bar">
                    <div class="form-group">
                        <div class="col" style="width: 375px;">
                            <label class="custom-select">Department</label>
                            <select>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fields-row">
                <div class="fields-bar">
                    <div class="form-group">

                        <div class="col" style="width: 375px;">
                            <label class="control-label " for="Address">Address</label>
                            <input class="form-control text-box single-line" id="Email" name="Address" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                        </div>

                        <div class="col">
                            <label class="control-label " for="Address">&nbsp;</label>
                            <input class="form-control text-box single-line" id="Address" name="Address" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fields-row">
                <div class="fields-bar">
                    <div class="form-group">
                        <div class="col" style="width: 275px;">
                            <label class="custom-select">City</label>
                            <select>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                        <div class="col" style="width: 100px;">
                            <label class="control-label " for="Email">State</label>
                            <input class="form-control text-box single-line" id="State" name="State" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="State" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col">
                            <label class="control-label " for="Zip">Zip</label>
                            <input class="form-control text-box single-line" id="Zip" name="Zip" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Zip" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fields-row">
                <div class="fields-bar">
                    <div class="form-group">
                        <div class="col">
                            <label class="control-label " for="Tel">Tel</label>
                            <input class="form-control text-box single-line" id="Tel" name="Tel" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Tel" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col">
                            <label class="control-label " for="E-mail">E-mail</label>
                            <input class="form-control text-box single-line" id="E-mail" name="E-E-mail" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="E-mail" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col">
                            <label class="control-label" for="SS#">SS#</label>
                            <input class="form-control text-box single-line" id="SS#" name="SS#" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="SS#" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
 </div>
    
 



