<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a class="panel-expander notext fr">&nbsp;</a>
        <h2 class="clipboard">{{pageTitle}}</h2>
    </div>
    <div class="col-md-4">
        <form (ngSubmit)="save()" [formGroup]="employeeForm">
            <div class="panel-container">
                <div class="options">
                    <ul>
                        <li>
                            <a class="post" (click)="save()">Post</a>
                        </li>
                        <li *ngIf="employeeForm.get('id').value !==0"><a class="delete" (click)="delete()">Delete</a></li>
                        <li><a class="cancel" (click)="cancel()">Cancel</a></li>
                    </ul>
                </div>
                
                <div class="form-horizontal">
                    <div style="border-top:2px ; padding:15px 0"></div>
                    <div class="fields-row">
                        <div class="fields-bar">
                            <div class="form-group">
                                <div class="col">
                                    <label class="control-label " for="First Name">First Name</label>
                                    <input class="form-control text-box single-line" formControlName="name" id="Name" name="Name" type="text" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                </div>
                                <div class="col">
                                    <label class="control-label" for="Middle">Middle Name</label>
                                    <input class="form-control text-box single-line" formControlName="description" id="MiddleName" name="MiddleName" type="text" value="" />
                                </div>
                                <div class="col">
                                    <label class="control-label " for="Last">Last Name</label>
                                    <input class="form-control text-box single-line" formControlName="lastName" id="LastName" name="LastName" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="fields-row">
                        <div class="fields-bar">
                            <div class="form-group">
                                <div class="col">
                                    <label class="control-label " for="Birthday">Birthday</label>
                                    <input class="form-control text-box single-line" placeholder="00/00/00" id="Birthday" name="Birthday" type="text" value="" />
                                </div>
                                <div class="col">
                                    <label class="custom-select">Sex</label>
                                    <select class="form-control" formControlName="gender_Id">
                                        <option *ngFor="let gender of genders"[ngValue]="gender.id">{{ gender.name }}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="custom-select">Marital Status</label>
                                    <select class="form-control" formControlName="maritalStatus_Id">
                                        <option *ngFor="let marital of maritalStatus" [ngValue]="marital.id">{{ marital.name }}</option>-->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields-row">
                        <div class="fields-bar">
                            <div class="form-group">
                                <div class="col">
                                    <label class="control-label" for="Address">Address</label>
                                    <input style="width: 555px" formControlName="address" class="form-control text-box single-line" id="Address" name="Address" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="fields-row">
                        <div class="fields-bar">
                            <div class="form-group">
                                <div class="col">
                                    <label class="control-label " for="City">City</label>
                                    <select class="form-control" formControlName="city_Id">
                                        <option *ngFor="let city of cities" [ngValue]="city.id">{{ city.name }}</option>-->
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="control-label" for="State">State</label>
                                    <select class="form-control" formControlName="state_Id">
                                        <option *ngFor="let state of states" [ngValue]="state.id">{{ state.name }}</option>-->
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="control-label " for="ZipCode">Zip Code</label>
                                    <input class="form-control text-box single-line" formControlName="zipCode" id="ZipCode" name="ZipCode" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="fields-row">
                        <div class="fields-bar">
                            <div class="form-group">
                                <div class="col">
                                    <label class="control-label" for="Telephone">Telephone</label>
                                    <input class="form-control text-box single-line" formControlName="telephone" id="Telephone" name="Telephone" type="text" value="" />
                                </div>
                                <div class="col">
                                    <label class="control-label" for="Ss">SS#</label>
                                    <input class="form-control text-box single-line" formControlName="ss" id="Ss" name="Ss" type="text" value="" />
                                </div>
                                <div class="col">
                                    <label class="control-label " for="Email">E-mail</label>
                                    <input class="form-control text-box single-line" formControlName="email" id="Email" name="Email" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="fields-row">
                        <div class="fields-bar">
                            <div class="form-group">
                                <div class="col">
                                    <label class="control-label " for="HireDate">Hire Date</label>
                                    <input class="form-control text-box single-line" formControlName="hireDate" id="HireDate" name="HireDate" placeholder="00/00/00" type="text" value="" />
                                </div>
                                <div class="col">
                                    <label class="custom-select">Title</label>
                                    <select class="form-control" formControlName="title_Id">
                                        <option *ngFor="let title of titles" [ngValue]="title.id">{{ title.name }}</option>-->
                                    </select>
                                </div>

                                <div class="col">
                                    <label class="custom-select">Department</label>
                                    <select class="form-control" formControlName="department_Id">
                                        <option *ngFor="let department of departments" [ngValue]="department.id">{{ department.name }}</option>-->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fields-row">
                        <div class="fields-bar">
                            <div class="form-group">
                                <div class="col">
                                    <label class="custom-select">Status</label>
                                    <select formControlName="status" class="form-control">
                                        <option value="true">Active</option>
                                        <option value="false">inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </form>
        <p></p>
    </div>
</div>
