<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a href="#" class="panel-expander notext fr">&nbsp;</a>
        <h2 class="clipboard">{{pageTitle}}</h2>
    </div>
    <div class="col-md-4">
        <form (ngSubmit)="save()" [formGroup]="customerForm">
            <div class="panel-container">
                <div class="options">
                    <ul>
                        <li><a class="post" (click)="save()">Post</a></li>
                        <li *ngIf="customerForm.get('id').value !==0"><a class="delete" (click)="delete()">Delete</a></li>
                        <li><a class="cancel" (click)="cancel()">Cancel</a></li>
                    </ul>
                </div>
                <mat-tab-group class="custome-tab-group">
                    <mat-tab label="General">
                        <div class="customer-tab-content">
                            <div class="form-group">
                                <div class="col, box-style">
                                    <label>Name</label>
                                    <input type="text" formControlName="name" id="nameId" class="form-control" />
                                    <span class="help-block" *ngIf="(customerForm.get('name').touched ||
                                                         customerForm.get('name').dirty) &&
                                                         customerForm.get('name').errors">
                                        <span *ngIf="customerForm.get('name').errors.required">
                                            Please enter your first name.
                                        </span>
                                        <span *ngIf="customerForm.get('name').errors.minlength">
                                            The first name must be longer than 3 characters.
                                        </span>
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <label for="status">Status:</label>
                                    <select class="form-control" formControlName="status_id">
                                        <option *ngFor="let status of customerStatus" [ngValue]="status.status_id">{{ status.name }}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Prospect</label>
                                    <select class="form-control" formControlName="prospect">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Sales Rep</label>
                                    <select class="form-control">
                                        <option value="true">Gerson Alves </option>
                                        <option value="false">Aulus Argolo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col">
                                    <label>Lead</label>
                                    <select class="form-control" formControlName="lead">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Authorized by</label>
                                    <select class="form-control">
                                        <option value="true">Gerson Alves </option>
                                        <option value="false">Aulus Argolo</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Rating</label>
                                    <select class="form-control">
                                        <option value="true">Canada </option>
                                        <option value="false">Good</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Contacted by</label>
                                    <select class="form-control">
                                        <option value="true">Company </option>
                                        <option value="false">Friends</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>FED ID#</label>
                                    <input formControlName="fedId" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="notes-style">
                                <label>Notes</label>
                                <textarea cols="30" rows="10" formControlName="notes" class="form-control"></textarea>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Defaults">
                        <div class="customer-tab-content">
                            <div class="fields-row">
                                <div class="fields-bar">
                                    <div class="form-group">
                                        <div class="col small">
                                            <label>Freight</label>
                                            <input type="text" class="form-control" placeholder="Prepaid" />
                                        </div>
                                        <div class="col pdlft">
                                            <label>&nbsp;</label>
                                            <input class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col small">
                                            <label>Mailing List?</label>
                                            <select class="form-control">
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                        </div>
                                        <div class="col small pdlft">
                                            <label>Mutiple Sites?</label>
                                            <select class="form-control">
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                        </div>
                                        <div class="col pdlft">
                                            <label>Second Label:</label>
                                            <input class="form-control" placeholder="[None]" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col">
                                            <label>Reference:</label>
                                            <input class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="notes-style">
                                        <label>Notes:</label>
                                        <textarea class="form-control" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="add-info">
                                <div class="box">
                                    <div class="col-frm">
                                        <label><input type="checkbox" />Use Standard Terms</label>
                                        <div class="frm-row">
                                            <label><input type="checkbox" />C.O.D</label>
                                            <label><input type="checkbox" />Prepaid</label>
                                        </div>
                                    </div>
                                    <div class="col-frm pdlft">
                                        <label><input type="checkbox" />Dues on Day of month</label>
                                        <label><input type="checkbox" />Due in # of Days</label>
                                        <label><input type="checkbox" />Due at end of month</label>
                                    </div>
                                </div>
                                <div class="box pdlft col-right">
                                    <div class="col-frm">
                                        <label>Net due in days <input type="text" class="form-control" value="0" /> days</label>
                                        <label>Discount in <input type="text" class="form-control" value="0" /> days</label>
                                        <label>Discount % <input type="text" class="form-control" value="0.00" /></label>
                                    </div>
                                    <div class="col-frm pdlft">
                                        <label>Credit limit <input class="form-control" type="text" value="0.00" /></label>
                                        <label><input type="checkbox" /> Charge Finance Charges</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Address">
                        <div class="customer-tab-content">
                            <div class="form-group">
                                <div class="col small">
                                    <span class="label">Address ID:</span>
                                    <select class="form-control">
                                        <option>CCF</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col small,  medium-box">
                                    <span class="label">Name:</span>
                                    <input type="text" class="form-control" placeholder="CCF" />
                                </div>
                                <div class="col medium pdlft ">
                                    <span class="label">Type:</span>
                                    <select class="form-control">
                                        <option>Bill To</option>
                                        <option>Ship To</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col small  pdlft">
                                    <span class="label">Main Ship To:</span>
                                    <input type="text" class="form-control" placeholder="No" />
                                </div>
                                <div class="col small pdlft">
                                    <span class="label">Quote Address:</span>
                                    <input type="text" class="form-control" placeholder="Yes" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col medium, medium-box">
                                    <span class="label">Address:</span>
                                    <input type="text" class="form-control" placeholder="POLE 131" />
                                </div>
                                <div class="col medium pdlft">
                                    <span class="label">City:</span>
                                    <input type="text" class="form-control" placeholder="HARVEYS LAKE - PA" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col smallest">
                                    <span class="label">Zip Code:</span>
                                    <input type="text" class="form-control" placeholder="18618" />
                                </div>
                                <div class="col smaller pdlft">
                                    <span class="label">Fax:</span>
                                    <input type="text" class="form-control" placeholder="570-825-9025" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col small  pdlft">
                                    <span class="label">Contact Person 1:</span>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col small pdlft">
                                    <span class="label">Phone:</span>
                                    <input type="text" class="form-control" placeholder="610-852-2533" />
                                </div>
                                <div class="col smallest">
                                    <span class="label">Ext:</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col small  pdlft">
                                    <span class="label">Contact Person 2:</span>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col small pdlft">
                                    <span class="label">Phone:</span>
                                    <input type="text" class="form-control" placeholder="610-852-2533" />
                                </div>
                                <div class="col smallest">
                                    <span class="label">Ext:</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Notes:</label>
                                <textarea cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="frame">
                                    <span class="label">Contact for Lable:</span>
                                    <input type="text" class="form-control" placeholder="CLIFFORD FAY" />
                                </div>
                                <div class="frame pdlft">
                                    <span class="label inc-margin">E-Mail:</span>
                                    <input type="email" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Shipping Information">
                        <div class="customer-tab-content">
                            <div class="shipping-method">
                                <div class="shipping-box">
                                    <span class="label">Shipping Method</span>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>UPS</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="shipping-box pdlft">
                                    <span class="label">Account #</span>
                                    <div class="form-group">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </form>
        <p></p>
    </div>
</div>