<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a class="panel-expander notext fr">&nbsp;</a>
        <h2 class="clipboard">{{pageTitle}}</h2>
    </div>
    <div class="col-md-4">
        <form (ngSubmit)="save()" [formGroup]="customerForm">
            <div class="panel-container">

                <nav id="into-menu">

                    <input type="checkbox" id="change-hamburguer" />
                    <a class="hamburguer" href="#">
                        <span></span>
                        <label for="change-hamburguer"></label>
                    </a>
                    <div class="menu">

                        <div class="options">
                            <ul>
                                <li><a class="post" (click)="save()">Post</a></li>
                                <li *ngIf="customerForm.get('id').value !==0"><a class="delete" (click)="delete()">Delete</a></li>
                                <li><a class="cancel" (click)="cancel()">Cancel</a></li>
                            </ul>
                        </div>

                    </div>
                </nav>

                <mat-tab-group class="form-horizontal">
                    <div class="formula">
                        <mat-tab label="General">
                            <div class="customer-tab-content">
                                <div class="fields-row">
                                    <div class="fields-bar">
                                        <div class="form-group">
                                            <div class="col">
                                                <label>Name</label>
                                                <input type="text" formControlName="name" id="nameId" class="form-control" />
                                                <span class="help-block" *ngIf="(customerForm.get('name').touched ||
                                                         customerForm.get('name').dirty) &&
                                                         customerForm.get('name').errors">
                                                    <span *ngIf="customerForm.get('name').errors.required">
                                                        Please enter your first name.
                                                    </span>
                                                    <span *ngIf="customerForm.get('name').errors.minlength">
                                                        The first name must be longer than 3 characters.
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col">
                                                <label for="status">Status:</label>
                                                <select class="form-control" formControlName="status_Id">
                                                    <option *ngFor="let customerSt of customerStatus" [value]="customerSt.id">{{ customerSt.name }}</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col ">
                                                <label>Prospect</label>
                                                <select class="form-control" formControlName="prospect">
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label>Sales Rep</label>
                                                <select class="form-control" formControlName="salesRepresentant_Id">
                                                    <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col">
                                                <label>Lead</label>
                                                <select class="form-control" formControlName="lead">
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label>Authorized by</label>
                                                <select class="form-control" formControlName="authorizedBy_Id">
                                                    <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label>Rating</label>

                                                <select class="form-control" formControlName="rating_Id">
                                                    <option *ngFor="let rating of customerRatings" [value]="rating.id">{{ rating.name }}</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label>Contacted by</label>
                                                <select class="form-control" formControlName="contactedBy_Id">
                                                    <option *ngFor="let contacted of customerContacteds" [value]="contacted.id">{{ contacted.name }}</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label>FED ID#</label>
                                                <input formControlName="fedId" type="text" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="notes-style">
                                            <label>Notes</label>
                                            <textarea cols="30" rows="10" formControlName="notes" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Defaults">
                            <div class="customer-tab-content">
                                <div class="fields-row">
                                    <div formGroupName="customerDefault" class="fields-bar">
                                        <div class="form-group">
                                            <div class="col small">
                                                <label>Freight</label>
                                                <select class="form-control" formControlName="freight_Id">
                                                    <option *ngFor="let freight  of freights" [value]="freight.id">{{ freight.name }}</option>
                                                </select>
                                            </div>
                                            <div class="col pdlft">
                                                <label>&nbsp;</label>
                                                <input class="form-control" formControlName="freightDescription" type="text" />
                                            </div>
                                            <div class="col pdlft">
                                                <label>Mutiple Sites?</label>
                                                <select class="form-control" formControlName="mutipleSites">
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col small">
                                                <label>Mailing List?</label>
                                                <select class="form-control" formControlName="mailingList">
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>

                                            <div class="col pdlft">
                                                <label>Second Label:</label>
                                                <select class="form-control" formControlName="secondLabel_Id">
                                                    <option *ngFor="let secondLabel of secondLabels" [value]="secondLabel.id">{{ secondLabel.name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col">
                                                <label>Reference:</label>
                                                <input formControlName="reference" class="form-control" type="text" />
                                            </div>
                                        </div>
                                        <div class="notes-style">
                                            <label>Notes:</label>
                                            <textarea class="form-control" cols="30" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-info">
                                    <div class="box">
                                        <div class="col-frm pdlft">
                                            <label><input type="checkbox" />Use Standard Terms</label>

                                            <label><input type="checkbox" />C.O.D</label>
                                            <label><input type="checkbox" />Prepaid</label>
                                            <label>Discount % <input type="text" class="form-control" value="0.00" /></label>

                                        </div>
                                        <div class="col-frm pdlft">
                                            <label><input type="checkbox" />Dues on Day of month</label>
                                            <label><input type="checkbox" />Due in # of Days</label>
                                            <label><input type="checkbox" />Due at end of month</label>
                                        </div>
                                    </div>
                                    <div class="box pdlft col-right">
                                        <div class="col-frm">
                                            <label>Net due in&nbsp; <input type="text" class="form-control" value="0" /> days</label>
                                            <label>Discount in <input type="text" class="form-control" value="0" /> days</label>

                                        </div>
                                        <div class="col-frm pdlft">
                                            <label>Credit limit <input class="form-control" type="text" value="0.00" /></label>
                                            <label><input type="checkbox" /> Charge Finance Charges</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Address">
                            <div class="customer-tab-content">
                                <div class="order-info">
                                    <div calss="address-box">

                                        <div class="fields-row">
                                            <div formArrayName="addresses" class="fields-bar">
                                                <div *ngFor="let address of Addresses.controls; let i=index" [formGroupName]="i">
                                                    <div class="margin-adjust">
                                                        <div class="form-group">
                                                            <div class="col">
                                                                <span class="label">Name:</span>
                                                                <input formControlName="name" type="text" class="form-control" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col small pdlft">
                                                                <span class="label">Type:</span>
                                                                <select class="form-control" formControlName="addressType_Id">
                                                                    <option *ngFor="let addressType of addressTypes" [ngValue]="addressType.id">{{ addressType.name }}</option>
                                                                </select>
                                                            </div>

                                                            <div class="col small  pdlft">
                                                                <span class="label">Main Ship To:</span>
                                                                <select class="form-control">
                                                                    <option value="true">Yes</option>
                                                                    <option value="false">No</option>
                                                                </select>
                                                            </div>
                                                            <div class="col small pdlft">
                                                                <span class="label">Quote Address:</span>
                                                                <select class="form-control">
                                                                    <option value="true">Yes</option>
                                                                    <option value="false">No</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col small  pdlft">
                                                                <span class="label">Address:</span>
                                                                <input formControlName="street" type="text" class="form-control" />
                                                            </div>

                                                            <div class="col small  pdlft">
                                                                <span class="label">&nbsp;</span>
                                                                <input formControlName="complement" type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col smallest">
                                                                <span class="label">Zip Code:</span>
                                                                <input formControlName="zipCode" type="text" class="form-control" />
                                                            </div>

                                                            <div class="col small  pdlft">
                                                                <span class="label">City:</span>
                                                                <select class="form-control" formControlName="city_Id">
                                                                    <option *ngFor="let city of cities" [ngValue]="city.id">{{ city.name }}</option>-->
                                                                </select>
                                                            </div>

                                                            <div class="col small  pdlft">
                                                                <label class="control-label" for="State">State</label>
                                                                <select class="form-control" formControlName="state_Id">
                                                                    <option *ngFor="let state of states" [ngValue]="state.id">{{ state.name }}</option>-->
                                                                </select>
                                                            </div>

                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col small  pdlft">
                                                                <span class="label">Contact Person 1:</span>
                                                                <input type="text" class="form-control" />
                                                            </div>
                                                            <div class="col small pdlft">
                                                                <span class="label">Phone:</span>
                                                                <input formControlName="phone" type="text" class="form-control" />
                                                            </div>
                                                            <div class="col smallest">
                                                                <span class="label">Ext:</span>
                                                                <input type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col small  pdlft">
                                                                <span class="label">Contact Person 2:</span>
                                                                <input type="text" class="form-control" />
                                                            </div>
                                                            <div class="col small pdlft">
                                                                <span class="label">Phone:</span>
                                                                <input type="text" class="form-control" />
                                                            </div>
                                                            <div class="col smallest">
                                                                <span class="label">Ext:</span>
                                                                <input type="text" class="form-control" />
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div class="col smaller pdlft">
                                                                <span class="label">Fax:</span>
                                                                <input formControlName="fax" type="text" class="form-control" />
                                                            </div>
                                                            <div class="col">
                                                                <span class="label">Contact for Lable:</span>
                                                                <input type="text" class="form-control" />
                                                            </div>
                                                            <div class="col pdlft">
                                                                <span class="label inc-margin">E-Mail:</span>
                                                                <input type="email" class="form-control" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="notes-style-address">
                                                                <label>Notes:</label>
                                                                <textarea formControlName="description" cols="30" rows="10" class="form-control"></textarea>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Shipping Information">
                            <div formArrayName="shipViaAccounts" class="customer-tab-content">
                                <div *ngFor="let shipViaAccounts of ShipViaAccounts.controls; let i=index" [formGroupName]="i">
                                    <div class="shipping-method">
                                        <div class="shipping-box">
                                            <span class="label">Shipping Method</span>
                                            <div class="form-group">
                                                <select class="form-control" formControlName="shippingMethod_Id">
                                                    <option *ngFor="let shippingMethod of shippingMethods" [ngValue]="shippingMethod.id">{{ shippingMethod.name }}</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="shipping-box pdlft">
                                            <span class="label">Account #</span>
                                            <div class="form-group">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </div>
                </mat-tab-group>
            </div>
        </form>
        <p></p>
    </div>
</div>