@model PlasticManufacturer.Domain.Entities.Color_Match_Request.ColorMatchRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a href="#" class="panel-expander notext fr">&nbsp;</a>
        <h2 class="clipboard">Color Match Request</h2>
    </div>
    <div class="panel-container">
        <div class="options">
            <ul>
                <li><a href="#" class="post">Post</a></li>
                <li><a href="Inbox2.html" class="send">Send</a></li>
                <li><a href="#" class="resin">Customer Resin</a></li>
                <li><a href="#" class="labels">See Notes</a></li>
                <li><a href="#" class="labels">Variation</a></li>
                <li><a href="#" class="labels">Advisory Lette</a></li>
                <li><a href="#" class="exit">Exit</a></li>
            </ul>
        </div>

        <div class="technical-info">
            <div class="order-info">
                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="col">
                            <label>Costumer:</label>
                            <input type="text" class="form-control" title="CC6029087-00" value="CC6029087-00" />
                        </div>
                        <div class="col">
                            <label> &nbsp; </label>
                            <input type="text" class="form-control" value="" />
                            <div class="cl">&nbsp;</div>
                        </div>
                        <div class="col">
                            <label> CMR#: </label>
                            <input type="text" class="form-control" title="" value="" />
                            <div class="cl">&nbsp;</div>
                        </div>
                        <div class="col">
                            <label>Credit limit:</label>
                            <input type="text" class="form-control" placeholder="0.00" />
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                </div>



                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="col">
                            <h2 class="m-b-20">Ship from </h2>
                            <label>F&D Plastics, Inc</label>
                            <label>23 jytek Dr.</label>
                            <label>Leominster MA 01453</label>
                            <label class="m-b-20">Phone (978)534-8999</label>
                        </div>

                        <div class="col">
                            <div class="date">
                                <label>Date</label>
                                <input type="text" class="form-control2 " placeholder="00/00/0000" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="markup f1">
                                <label>Status:</label>
                                <select name="select-markup">
                                    <option value="option1">Sim</option>
                                    <option value="option2">option2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="buttons-margin"><a href="#" class="fr button button-orange">Recreate</a> </div>
                        </div>
                    </div>
                </div>


                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="col">
                            <h2>Bill to: </h2>
                            <select name="billTo" class="custom-select">
                                <option value="option1">- Select One -</option>
                                <option value="option2">Xpto</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="fields-bar">
                        <div class="col">
                            <label>Phone:</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col">
                            <label>Fax</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="fields-bar">
                        <div class="col">
                            <h2>Ship to:</h2>
                            <select name="select-resin" class="custom-select">
                                <option value="option1">- Select One -</option>
                                <option value="option2">option2</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="fields-bar">
                        <div class="col">
                            <label>Phone:</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col">
                            <label>Fax</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="panel-container">

                    <div class="color-match">

                        <table class="gn-table">

                            <thead>

                                <tr>

                                    <th>PO #</th>

                                    <th>Contact</th>

                                    <th>Attention</th>

                                    <th>Terms</th>

                                    <th>Freight</th>

                                    <th>Sales Person</th>

                                    <th class="last">Written by</th>

                                </tr>

                            </thead>

                            <tbody>

                                <tr>

                                    <td data-title="PO #"><label>&nbsp&nbsp</label></td>

                                    <td data-title="Contact"><label>Barry Criangan</label></td>

                                    <td data-title="Attention"><label>Barry Criangan</label></td>

                                    <td data-title="Terms"><label>1.00% 10, Net 30 Days</label></td>

                                    <td data-title="Freight"><label>Prepaid</label></td>

                                    <td data-title="Sales Person"><label>Jena</label></td>

                                    <td data-title="Written by" class="last"><label>Aulus</label></td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

            
                <form action="/ColorMatchRequests/Create" method="post">
                    @Html.AntiForgeryToken()
                    <div class="fields-row form-group">
                        <div class="bar">
                            <div class="bar-col">
                                <label class="m-t-20" for="ProductDescription">Product Description</label>
                                <input class="form-control text-box single-line" id="ProductDescription" name="ProductDescription" type="text" value="" />

                            </div>
                            <div class="bar-col">
                                <div class="col">
                                    <label class="m-t-20">Product Application</label>
                                    <input class="form-control text-box single-line" id="ProductAplication" name="ProductAplication" type="text" value="" />
                                </div>
                                <div class="col txt-center">
                                    <label class="m-t-20">Price Quote Required</label>
                                    <div class="chk-box">
                                        <input class="checkbox" id="PriceQuoteRequired" name="PriceQuoteRequired" type="checkbox" value="true" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bar">
                            <div class="col f-left">
                                <label class="custom-select">Target Type</label>
                                <select name="targetTypeField" id="targetTypeField">
                                    <option value="0"></option>
                                    <option value="2">Part</option>
                                    <option value="3">F&D Color</option>
                                    <option value="4">Pantone</option>
                                    <option value="5">Competitor Concentrate</option>
                                    <option value="6">Competitor Color Chip</option>
                                    <option value="1">Other</option>

                                </select>
                            </div>
                            <div class="col f-left" id="pantoneDiv" style="display:none">
                                <label>Pantone#</label>
                                <input class="form-control text-box single-line" id="pantone" name="pantone" type="text" value="" />
                            </div>
                            <div class="col f-left" id="competitorConcentrateDiv" style="display:none">
                                <label>Let Down Ratio</label>
                                <input class="form-control text-box single-line" id="competitorConcentrate" name="competitorConcentrate" type="text" value="" />
                            </div>
                            <div class="bar-col" id="competitorColorChipDiv" style="display:none">
                                <label>Description</label>
                                <input class="form-control text-box single-line" id="competitorColorChip" name="competitorColorChip" type="text" value="" />
                            </div>

                            <div class="bar-col" id="otherDiv" style="display:none">
                                <label>Description</label>
                                <input class="form-control text-box single-line" id="targetOther" name="targetOther" type="text" value="" />
                            </div>

                            <div class="col f-left" id="descriptionDiv" style="display:none">
                                <label>Part Description</label>
                                <input class="form-control text-box single-line" id="pantone" name="pantone" type="text" value="" />
                            </div>
                            <div class="col f-left box" id="doNotBrakeTargetDiv" style="display:none">
                                <div><label>DO NOT Brake target</label></div>
                                <input name="doNotBrakeTarget" class="checkbox" id="doNotBrakeTarget" type="checkbox">
                            </div>
                            <div class="col f-left" id="returnTargetDiv" style="display:none">
                                <label>Target Type</label>
                                <select name="returnTarget" id="returnTarget">
                                    <option value="0"></option>
                                    <option value="1">Return Target</option>
                                    <option value="2">Return 1/2 Target</option>
                                </select>
                            </div>
                            <div class="col f-left" id="fdColorDiv" style="display:none">
                                <label>FD Color#</label>
                                <select name="fdColor" id="fdColor">
                                    <option value="0"></option>
                                    <option value="CC5224059">CC5224059</option>
                                    <option value="CC5224586">CC5224586</option>
                                </select>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="col f-left">
                                <label class="m-t-20">Opacity</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col f-left">
                                <span class="m-t-20 label">Surface</span>
                                <div class="box">
                                    <label class="m-t-20">Matt</label>
                                    <input name="SurfaceMatte" class="checkbox" id="SurfaceMatte" type="checkbox">
                                </div>
                                <div class="box">
                                    <label class="m-t-20">Glossy</label>
                                    <input name="SurfaceGlossy" class="checkbox" id="SurfaceGlossy" type="checkbox">
                                </div>
                            </div>
                            <div class="col f-left">
                                <label class="m-t-20">Others</label>
                                <input class="form-control text-box single-line" id="SurfaceOthers" name="SurfaceOthers" type="text" value="" />
                            </div>
                            <div class="col f-left">
                                <label class="m-t-20">Wall Thickness</label>
                                <input class="form-control text-box single-line" id="WallThickness" name="WallThickness" type="text" value="" />
                            </div>

                        </div>
                    </div>


                    <div class="panel-container">
                        <div class="color-match">
                            <table class="gn-table">
                                <thead>
                                    <tr>
                                        <th>Processing Requirements</th>
                                        <th class="last">Resin Specification</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Processing Requirements">
                                            <ul class="selection-list">
                                                <li>
                                                    <label class="m-t-20">Injection</label>
                                                    <div class="chk-box">

                                                        <input class="check-box" id="Injection" name="Injection" type="checkbox">
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="m-t-20">Blow</label>
                                                    <div class="chk-box">

                                                        <input class="check-box" id="Blow" name="Blow" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="m-t-20">Compression</label>
                                                    <div class="chk-box">

                                                        <input class="check-box" id="Compression" name="Compression" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="m-t-20">Extrusion</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="Extrusion" name="Extrusion" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="m-t-20">Fiber Denier</label>
                                                    <div class="chk-box">

                                                        <input class="check-box" id="FiberDenier" name="FiberDenier" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="m-t-20">CO-EX</label>
                                                    <div class="chk-box">

                                                        <input class="check-box" id="CoEx" name="CoEx" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="m-t-20">Films</label>
                                                    <div class="chk-box">

                                                        <input class="check-box" id="Film" name="Film" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="m-t-20">Sheet</label>
                                                    <div class="chk-box">

                                                        <input class="check-box" id="Sheet" name="Sheet" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="m-t-20">Rotational</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="Rotational" name="Rotational" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="m-t-20">MFG</label>
                                                    <div class="chk-box">

                                                        <input class="form-control text-box single-line" id="Mfg" name="Mfg" type="text" value="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="m-t-20">Gas Assit Injection</label>
                                                    <div class="chk-box">

                                                        <input class="check-box" id="GasAssitInjection" name="GasAssitInjection" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                        <td data-title="Resin Specification">
                                            <div class="bar">
                                                <div class="block">
                                                    <label class="b-padding">Customer Resin</label>
                                                    <select name="select-markup">
                                                        <option value=""></option>
                                                        <option value="FPPP">FPPP</option>
                                                        <option value="CLIF01">CUST ABS ( CLIF01 Cont# 1863)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="bar">
                                                <div class="block">
                                                    <label class="b-padding">Melt Index</label>

                                                    <input class="form-control text-box single-line" id="MeltIndex" name="MeltIndex" type="text" value="" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="fields-row no-margin">
                        <div class="bar">
                            <span class="label m-t-20">Color Tolerance:</span>
                            <div class="boxes-holder">
                                <div class="box">
                                    <label>Exact</label>
                                    <div class="chk-box">
                                        <input class="check-box" id="Exact" name="Exact" type="checkbox" value="true" />
                                    </div>
                                </div>
                                <div class="box">
                                    <label>Commercial</label>
                                    <div class="chk-box">

                                        <input class="check-box" id="Commercial" name="Commercial" type="checkbox" value="true" />
                                    </div>
                                </div>
                                <div class="box">
                                    <label>Closest STD</label>

                                    <input class="form-control text-box single-line" id="ClosestSTD" name="ClosestSTD" type="text" value="" />
                                </div>
                                <div class="box">
                                    <label>+DE</label>

                                    <input class="form-control text-box single-line" id="MoreDe" name="MoreDe" type="text" value="" />
                                </div>
                                <div class="box">
                                    <label>CIELAB</label>
                                    <div class="chk-box">

                                        <input class="check-box" id="CieLab" name="CieLab" type="checkbox" value="true" />
                                    </div>
                                </div>
                                <div class="box">
                                    <label>Call sales if is expensive</label>
                                </div>
                            </div>

                        </div>
                        <div class="bar">
                            <span class="label m-t-20">Illumination:</span>
                            <div class="boxes-holder box-frm">
                                <div class="chk-hldr">
                                    <input class="check-box" id="D65" name="D65" type="checkbox" value="true" />
                                    <label>D-65</label>
                                </div>
                                <div class="chk-hldr">
                                    <input class="check-box" id="Cfw" name="Cfw" type="checkbox" value="true" />
                                    <label>CFW</label>
                                </div>
                                <div class="chk-hldr">
                                    <input class="check-box" id="A" name="A" type="checkbox" value="true" />
                                    <label>A</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-container spacer-20">
                        <div class="color-match">
                            <table class="gn-table">
                                <thead>
                                    <tr>
                                        <th class="last">Sample Concentrate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Sample Concentrate" class="last">
                                            <ul class="info-list">
                                                <li>
                                                    <label>Chip Qty</label>
                                                    <div class="chk-box">
                                                        <input class="form-control text-box single-line" id="ChipsQty" name="ChipsQty" type="number" value="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Tube Sample</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" data-val="true" id="TubeSample" name="TubeSample" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Sheet Extrusion Sample</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="SheetExtrusionSample" name="SheetExtrusionSample" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Required Customer Qty</label>
                                                    <div class="chk-box txt">
                                                        <input class="form-control text-box single-line" name="RequiredCustomerQty" type="text" value="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Units Qty</label>
                                                    <div class="chk-box">
                                                        <input class="form-control text-box single-line" id="UnitQty" name="UnitQty" type="text" value="" />
                                                    </div>
                                                </li>
                                            </ul>

                                            <ul class="info-list">
                                                <li>
                                                    <label>Packaging</label>
                                                    <select name="select-markup">
                                                        <option value="">Box</option>
                                                        <option value="Box">Box</option>
                                                        <option value="Bucket">Bucket</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <label>Carrier</label>
                                                    <select name="select-markup">
                                                        <option value=""></option>
                                                        <option value="9307">9307 ILLUSION26</option>
                                                        <option value="BEST">BEST</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <label>Required Ratio</label>
                                                    <input class="form-control text-box single-line" id="RequiredRatio" name="RequiredRatio" type="text" value="" />
                                                </li>
                                                <li>
                                                    <label>Pellet Size</label>
                                                    <select name="select-markup">
                                                        <option value=""></option>
                                                        <option value="ANY">ANY</option>
                                                        <option value="option2">MICRO </option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <!-- EXPOSURE -->
                            <table class="gn-table">
                                <thead>
                                    <tr>
                                        <th class="last">Exposure</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Exposure" class="last">
                                            <ul class="info-list">
                                                <li>
                                                    <label>Interior</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="Interior" name="Interior" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Exterior</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="Exterior" name="Exterior" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Light Fasteness </label>
                                                    <input class="form-control text-box single-line" id="LightLastness" name="LightLastness" type="text" value="" />
                                                </li>
                                                <li>
                                                    <label>Hours </label>
                                                    <input class="form-control text-box single-line" id="Hour" name="Hour" type="datetime" value="" />
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- PURPOSE FOR MATCH -->
                            <table class="gn-table ">
                                <thead>
                                    <tr>
                                        <th class="last"> Purpose For Match</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="  Purpose For Match" class="last">
                                            <ul class="info-list">
                                                <li>
                                                    <label>New</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="New" name="New" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Reformulation</label>
                                                    <select name="select-markup">
                                                        <option value=""></option>
                                                        <option value="CC3217376">CC3217376</option>
                                                        <option value="CC3217387">CC3217387</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <label>Reason </label>
                                                    <input class="form-control text-box single-line" id="Reason" name="Reason" type="text" value="" />
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- SPECIAL ADDITIVIES -->

                            <table class="gn-table ">
                                <thead>
                                    <tr>
                                        <th class="last">Special Additives</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title= "Special Additives" class="last">
                                            <ul class="info-list">
                                                <li>
                                                    <label>UV</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="Uv" name="Uv" type="checkbox" value="true" />
                                                    </div>

                                                    <input class="form-control text-box single-line" id="UvPackage" name="UvPackage" type="text" value="" />
                                                </li>
                                                <li>
                                                    <label>Antioxidants </label>
                                                    <div class="chk-box fl">
                                                        <input class="check-box" id="IsAntiOxidant" name="IsAntiOxidant" type="checkbox" value="true" />
                                                    </div>
                                                    <input class="form-control text-box single-line" id="AntiOxidant" name="AntiOxidant" type="text" value="" />
                                                </li>
                                                <li>
                                                    <label>Antistat</label>
                                                    <div class="chk-box fl">
                                                        <input class="check-box" id="IsAntiStat" name="IsAntiStat" type="checkbox" value="true" />
                                                    </div>
                                                    <input class="form-control text-box single-line" id="AntiStat" name="AntiStat" type="text" value="" />
                                                </li>
                                                <li>
                                                    <label>None</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="AdditiveNone" name="AdditiveNone" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Lubricant</label>
                                                    <div class="chk-box fl">
                                                        <input class="check-box" id="IsLubricant" name="IsLubricant" type="checkbox" value="true" />
                                                    </div>
                                                    <input class="form-control text-box single-line" id="Lubricant" name="Lubricant" type="text" value="" />
                                                </li>
                                                <li>
                                                    <label>Amount</label>
                                                    <input class="form-control text-box single-line" id="Amount" name="Amount" type="text" value="" />
                                                </li>
                                                <li>
                                                    <label>Other</label>
                                                    <input class="form-control text-box single-line" id="AdditiveOther" name="AdditiveOther" type="text" value="" />
                                                </li>
                                                <li>
                                                    <label>Lab to check application for best additive</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="BestAdditive" name="BestAdditive" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Slip</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="Slip" name="Slip" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- CUSTOMER MAJOR CONCERN -->

                            <table class="gn-table">
                                <thead>
                                    <tr>
                                        <th class="last">Customer Major Concern</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Customer Major Concern "class="last">
                                            <ul class="info-list">
                                                <li>
                                                    <label>Price</label>
                                                    <div class="chk-box">
                                                        <input class="form-control text-box single-line" id="Price" name="Price" type="number" value="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Accuracy</label>
                                                    <div class="chk-box">
                                                        <input class="form-control text-box single-line" id="Accuracy" name="Accuracy" type="number" value="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Turnaround</label>
                                                    <div class="chk-box">
                                                        <input class="form-control text-box single-line" id="Turnaround" name="Turnaround" type="number" value="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>None</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="ConcernNone" name="ConcernNone" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Other </label>
                                                    <input class="form-control text-box single-line" id="ConcernOther" name="ConcernOther" type="text" value="" />
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- REGULARITY REQUIREMENT -->

                            <table class="gn-table">
                                <thead>
                                    <tr>
                                        <th class="last">Regularity Requirement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Regularity Requirement" class="last">
                                            <ul class="info-list">
                                                <li>
                                                    <label>FDA</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="Fda" name="Fda" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>NON h/m</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="NonHm" name="NonHm" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>None</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="RequirementNone" name="RequirementNone" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Other </label>
                                                    <input class="form-control text-box single-line" id="RequirementOther" name="RequirementOther" type="text" value="" />
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- PROCESSING INFORMATION -->

                            <table class="gn-table">
                                <thead>
                                    <tr>
                                        <th class="last">Processing Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title=" Processing Information" class="last">
                                            <ul class="info-list">
                                                <li>
                                                    <label>Maximum Heat </label>
                                                    <input class="form-control text-box single-line" id="MaximumHeat" name="MaximumHeat" type="text" value="" />
                                                </li>
                                                <li>
                                                    <label>COA</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="Coa" name="Coa" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>MSDS</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="Msds" name="Msds" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>CIE</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="Cie" name="Cie" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Material Sheet</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="MateriaSeet" name="MateriaSeet" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>FDA Letter</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="FdaLetter" name="FdaLetter" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>UV Letter</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="UvLetter" name="UvLetter" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>No Logo Chips</label>
                                                    <div class="chk-box">
                                                        <input class="check-box" id="LogoChips" name="LogoChips" type="checkbox" value="true" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>        <!---->
                     
                    <div class="panel-container spacer-20">
                        <div class="color-match">
                            <table class="gn-table">
                                <thead>
                                    <tr>
                                        <th class="last">Product Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Product Information" class="last">
                                            <ul class="info-list">
                                                <li>
                                                    <label>Item</label>
                                                    <input type="text" class="form-control" />
                                                </li>
                                                <li>
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" />
                                                </li>
                                                <li>
                                                    <label>Ratio</label>
                                                    <input type="text" class="form-control" />
                                                </li>
                                                <li>
                                                    <label>Compound</label>
                                                    <select name="select-markup">
                                                        <option value="option1">option1</option>
                                                        <option value="option2">option2</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <label>Price</label>
                                                    <input type="text" class="form-control" placeholder="0.00" />
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="panel-container spacer-20">
                        <div class="color-match">
                            <table class="gn-table">
                                <thead>
                                    <tr>
                                        <th class="last">Shipping Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Shipping Information" class="last">
                                            <ul class="info-list">
                                                <li>
                                                    <label>Shipped Via</label>
                                                    <select name="select-markup">
                                                        <option value="option1">option1</option>
                                                        <option value="option2">option2</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <label>Account</label>
                                                    <input type="text" class="form-control" />
                                                </li>
                                                <li>
                                                    <label>Send On</label>
                                                    <input type="text" class="form-control" placeholder="00/00/0000" />
                                                </li>
                                                <li>
                                                    <label>Customer Due Date</label>
                                                    <input type="text" class="form-control" />
                                                </li>
                                                <li>
                                                    <label>Return Target?</label>
                                                    <select name="select-markup">
                                                        <option value="option1">option1</option>
                                                        <option value="option2">option2</option>
                                                    </select>
                                                </li>
                                            </ul>
                                            <ul class="info-list">
                                                <li>
                                                    <label>Date Send</label>
                                                    <input type="text" class="form-control" placeholder="00/00/0000" />
                                                </li>
                                                <li>
                                                    <label>Chip Sent</label>
                                                    <input type="text" class="form-control" />
                                                </li>
                                                <li>
                                                    <label>Conc. Sent</label>
                                                    <input type="text" class="form-control" />
                                                </li>
                                                <li>
                                                    <label>Qty Units Sent</label>
                                                    <input type="text" class="form-control" />
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-container">
                        <div class="color-match">
                            <table class="gn-table ta-table">
                                <thead>
                                    <tr>
                                        <th>Lab Notes</th>
                                        <th>Shipping Notes</th>
                                        <th>Label</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Lab Notes">
                                            <textarea></textarea>
                                        </td>
                                        <td data-title="Shipping Notes">
                                            <textarea></textarea>
                                        </td>
                                        <td data-title="Label">
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    
                </form>
            </div>
         </div>
    </div>
</div>

