@model PlasticManufacturer.Domain.Entities.Common.Pellet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




                        <div class="panel spacer-20">
                            <div class="panel-heading no-padding">
                                <a href="#" class="panel-expander notext fr">&nbsp;</a>
                                <h2 class="clipboard">Create Pellet</h2>
                            </div>
                            <form action="/Pellets/Create" id="create" method="post">
                                <div class="panel-container">
                                    <div class="options">
                                        <ul>
                                            <li>

                                                <a class="post" href='javascript:create.submit()'>Post</a>
                                            </li>

                                            <li><a class="cancel" href="/Pellets?Length=0">Cancel</a></li>
                                        </ul>
                                    </div>


                                    <input name="__RequestVerificationToken" type="hidden" value="LllFjRgfAkyndkTCEP0JN8dvfUNJXKk2ArUUpx9Wg3HUYLo6DgnFJeRq509Hnt67tPq3rsO0_S3bBsDqHdBAdDLQ3rZW3Q1C8q1zSzNdSxc1" />

                                    <div class="form-horizontal">

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="Name">Name</label>
                                            <div class="col-md-10">
                                                <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" />
                                                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="Description">Description</label>
                                            <div class="col-md-10">
                                                <input class="form-control text-box single-line" id="Description" name="Description" type="text" value="" />
                                                <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
              