<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>test.newfdplastics.com</MSDeployServiceURL>
    <DeployIisAppPath>test.newfdplastics.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>isaacmgarcia</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=184.168.194.53;Initial Catalog=PlasticManufacturerDev;User ID=plasticDev;Password=plasticDev" Name="Data Source=184.168.194.53;Initial Catalog=PlasticManufacturerDev;User ID=plasticDev;Password=plasticDev;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ViewAulus.Models.ApplicationDbContext, ViewAulus" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PlasticManufacturer" Order="4" Enabled="False">
          <Destination Path="Data Source=184.168.194.53;Initial Catalog=PlasticManufacturerDev;User ID=plasticDev;Password=plasticDev" Name="Data Source=184.168.194.53;Initial Catalog=PlasticManufacturerDev;User ID=plasticDev;Password=plasticDev;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PlasticManufacturer.InfraStructure.Context.PlasticManufacturerContext, PlasticManufacturer.InfraStructure" MigrationConfiguration="PlasticManufacturer.InfraStructure.Migrations.Configuration, PlasticManufacturer.InfraStructure" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=184.168.194.53;Initial Catalog=PlasticManufacturerDev;User ID=plasticDev;Password=plasticDev;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PlasticManufacturer-Web.config Connection String">
      <ParameterValue>Data Source=184.168.194.53;Initial Catalog=PlasticManufacturerDev;User ID=plasticDev;Password=plasticDev;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>