
    <div class="panel spacer-20">
        <div class="panel-heading no-padding">
            <a href="#" class="panel-expander notext fr">&nbsp;</a>
            <h2 class="clipboard">Formula</h2>
        </div>
        <div class="panel-container">
            <div class="options">
                <ul>
                    <li><a href="#" class="post">Post</a></li>
                    <li>@Html.ActionLink("Cancel", "Index", "", new { @class = "cancel" })</li>
                    <li><a href="#" class="new">New</a></li>
                    @*
                    <li><a href="#" class="delete">Delete</a></li>
                    <li><a href="#" class="search">Search</a></li>
                    <li><a href="#" class="formula">Formula</a></li>
                    <li><a href="#" class="label">Label</a></li>
                    <li><a href="#" class="send">Send</a></li>
                    <li><a href="#" class="exit">Exit</a></li>*@


                </ul>
            </div>

            <div class="padding-container">
                <div class="fields-row ">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label>Item</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="col">
                                <label>&nbsp;</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="col">
                                <label>Order #</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>


                <h2>Formula </h2>
                <h3>&nbsp;</h3>

                <h4>Technical Description</h4>
                <table class="gn-table">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <textarea></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label>Date</label>
                                <input class="form-control" placeholder="00/00/0000" type="text">
                            </div>
                            <div class="col">
                                <label>MarkUp</label>
                                <input class="form-control" placeholder="No" type="text" style="width: 50px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label>Ratio</label>
                                <input class="form-control" placeholder="" type="text">
                            </div>
                            <div class="col">
                                <label class="custom-select">Resin</label>
                                <select>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label>Units Weight</label>
                                <input class="form-control" placeholder="" type="text">
                            </div>
                            <div class="col">
                                <label>Total Weight</label>
                                <input class="form-control" placeholder="" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label>Concentrate Qty</label>
                                <input class="form-control" placeholder="" type="text">
                            </div>
                            <div class="col">
                                <label>Chips Qty</label>
                                <input class="form-control" placeholder="" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label>Units Qty</label>
                                <input class="form-control" placeholder="" type="text">
                            </div>
                        </div>
                    </div>
                </div>


                <h2></h2>
                <h3>&nbsp;</h3>
                <h4>Notes</h4>
                <table class="gn-table">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <textarea></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>



                <ul class="info-list">
                    <li>
                        <label>COA<br />&nbsp;</label>
                        <div class="chk-box">
                            <input class="check-box" type="checkbox" />
                        </div>
                    </li>
                    <li>
                        <label>MSDS<br />&nbsp;</label>
                        <div class="chk-box">
                            <input class="check-box" type="checkbox" />
                        </div>
                    </li>
                    <li>
                        <label>CIE<br />&nbsp;</label>
                        <div class="chk-box">
                            <input class="check-box" type="checkbox" />
                        </div>
                    </li>

                    <li>
                        <label>FDA<br /> Letter&nbsp;</label>
                        <div class="chk-box">
                            <input class="check-box" type="checkbox" />
                        </div>
                    </li>
                    <li>
                        <label>UV<br /> Letter&nbsp;</label>
                        <div class="chk-box">
                            <input class="check-box" type="checkbox" />
                        </div>
                    </li>
                </ul>

                <table class="gn-table m-b-20 row table-responsive col-xs-10" style="padding-top:15px ">
                    <thead>
                        <tr class="">
                            <th>Line #</th>
                            <th>Item ID</th>
                            <th>Item Description</th>
                            <th>Qty</th>
                            <th>Unit</th>
                            <th>%</th>
                            <th>Calc</th>
                            <th>Notes</th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr class="before-selected">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input class="checkbox" type="checkbox"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
