@media (max-width: 1024px) {
    #header .shell {
        padding: 0 15px;
    }

    #content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .white-box .cnt {
        padding: 15px;
    }

    #navigation ul li {
        margin: 0;
    }

        #navigation ul li a {
            font-size: 14px;
            padding: 0 8px;
        }

    .sub-nav ul li {
        padding: 0 7px;
    }

    .table1 .col1 {
        width: 100px;
    }

    .table1 .col2 {
        width: 75px;
    }

    .color-match .order-info {
        padding: 10px;
    }

    .color-match .col .field-wide {
        width: 215px;
    }

    .fields-row .fields-bar .col {
        width: 195px;
    }

    .fields-row .bar label {
        font-size: 9px;
    }

    .add-info .box, .add-info .frm-row label {
        float: none;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }

    .add-info .frm-row label {
        padding: 0 0 10px;
    }

    .add-info .box.col-right {
        padding: 15px 0 0;
    }

    .gn-table tr th {
        font-size: 9px;
    }

    .address-box .frame {
        float: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
    }

    .fields-row .date .form-control {
        width: 100%;
    }

    .form-control2 {
        border-radius: 5px;
        width: 90%;
        padding: 2px;
        margin: 0 !important;
        height: 30px !important;
        padding: 4px 11px;
        border-radius: 5px;
        border: 1px solid #75abc1;
        box-shadow: inset 1px 0px 1px 1px rgba(240,240,240,1);
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}
