        <!-- Header -->
<div id="header">
    <!-- Shell -->
    <div class="shell">
        <!-- Logo -->
        <h1 id="logo" class="fl notext"><a href="#">F&amp;D PLASTICS | Exellence In Color</a></h1>
        <!-- END Logo -->
        <!-- Header Right -->
        <div class="header-right fr">
            <ul class="fr">
                <li class="last">
                    <!-- Utility -->
                    <div class="utility">
                        <div class="blue-box">
                            <div class="blue-box-r">
                                <p><strong>Aulus</strong><span>|</span><a href="#" class="logout">Sair »</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END Utility -->
                </li>
            </ul>
        </div>
        <!-- END Header Right -->
    </div>
    <!-- END Shell -->
    <!-- END Header -->
    <nav id='cssmenu'>
        <div id="head-mobile"></div>
        <div class="nav-mobile"></div>
        <ul class="shell">
            <li>
                <a>Table</a>
                <ul>
                    <li>
                        <a>Customer</a>
                        <ul>
                            <li><a routerLink="/customerRatings" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Rating</a></li>
                            <li><a routerLink="/customerStatus" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Status</a></li>
                            <li><a routerLink="/customerContacteds" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contacted</a></li>
                            <li><a routerLink="/secondLabels" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Second Label</a></li>
                            <li><a routerLink="/freights" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Freight</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Employee</a>
                        <ul>
                            <li><a routerLink="/titles" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Title</a></li>
                            <li><a routerLink="/departments" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Department</a></li>
                            <li><a routerLink="/maritalStatus" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Marital Status</a></li>
                            <li><a routerLink="/genders" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Gender</a></li>
                        </ul>
                    </li>                            
                    <li><a routerLink="/states" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">State</a></li>                  
                    <li><a routerLink="/pellets" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Pelle</a></li>
                    <li><a routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Category</a></li>
                    <li><a routerLink="/carriers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Carrier</a></li>
                    <li><a routerLink="/opacities" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Opacity</a></li>
                    <li><a routerLink="/packagings" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Packing</a></li>                                       
                    <li><a routerLink="/cities" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">City</a></li>
                </ul>
            </li>
            <li>
                <a>Maintain</a>
                <ul>
                    <li><a routerLink="/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Customer</a></li>
                    <li><a routerLink="/employees" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Employee</a></li>
                </ul>
            </li>
            <li>
                <a href='#'>Tasks</a>
                <ul>
                    <li><a routerLink="/colorMatchRequests" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Color Match Requests</a></li>
                </ul>
                
            </li>
            <li>
                <a href='#'>Reports</a>
            </li>
        </ul>
    </nav>

</div>



