        <!-- Header -->
<div id="header">
    <!-- Shell -->
    <div class="shell">
        <!-- Logo -->
        <h1 id="logo" class="fl notext"><a href="#">F&amp;D PLASTICS | Exellence In Color</a></h1>
        <!-- END Logo -->
        <!-- Header Right -->
        <div class="header-right fr">
            <ul class="fr">

                <li class="last">
                    <!-- Utility -->
                    <div class="utility">
                        <div class="blue-box">
                            <div class="blue-box-r">
                                <p><strong>Aulus</strong><span>|</span><a href="#" class="logout">Sair »</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END Utility -->
                </li>
            </ul>
        </div>
        <!-- END Header Right -->
    </div>
    <!-- END Shell -->
</div>
<!-- END Header -->
<nav id='cssmenu'>
    <div id="head-mobile"></div>
    <div class="nav-mobile"></div>
    <ul class="shell">
        <li>
            <a href='#'>Table</a>
            <ul>
                <li><a routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Category</a></li>
                <li><a routerLink="/carriers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Carrier</a></li>
                <li><a routerLink="/opacities" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Opacity</a></li>
                <li><a routerLink="/packages" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Packing</a></li>
                <!--<li>@Html.ActionLink("Category", "index", "Categories")</li>
                
                <li>@Html.ActionLink("Opacity", "index", "Opacities")</li>
                <li>@Html.ActionLink("Packaging", "index", "Packagings")</li>
                <li>@Html.ActionLink("Pellet", "index", "Pellets")</li>
                <li>@Html.ActionLink("Employee", "index", "Employees")</li>             
                <li>
                    <a href='#'>Sub Item</a>
                    <ul><li><a href='#'>Item 1</a></li></ul>
                </li>-->
            </ul>
        </li>
        <li>
            <a href='#'>Maintain</a>
            <!--<ul>
                <li>@Html.ActionLink("Customer", "create", "Customers")</li>
                <li>@Html.ActionLink("Customer Resin", "index", "CustomerResins")</li>
                <li>@Html.ActionLink("Target Type", "index", "TargetTypes")</li>
                <li>@Html.ActionLink("Defaults", "tela", "Categories")</li>
                
                <li>@Html.ActionLink("Employee", "index", "Employees")</li>
                <li><a href="#">Supplier</a></li>
                <li>@Html.ActionLink("Raw Material", "index", "RawMaterials")</li>
            </ul>-->
        </li>
        <li>
            <a href='#'>Tasks</a>
            <!--<ul>
                <li>@Html.ActionLink("Color Match Request", "create", "ColorMatchRequests")</li>
            </ul>-->
        </li>
        <li>
            <a href='#'>Reports</a>
            <!--<ul>
                <li><a href='#'>none</a></li>
            </ul>-->
        </li>
    </ul>
</nav>











<!--<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Plastic Manufacturer</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/events" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Events</a>
                </li>
                <li><a routerLink="/events/new" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Create Event</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Events
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">Angular Connect</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-header navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a *ngIf="!auth.isAuthenticated()" routerLink="user/login">Login</a>
                        <a *ngIf="auth.isAuthenticated()" routerLink="user/profile">Welcome {{auth.currentUser.firstName}}</a>
                    </li>
                </ul>
            </div>
            <form id="searchForm" (ngSubmit)="searchSessions(searchTerm)" class="navbar-form navbar-right">
                <div class="form-group">
                    <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Sessions">
                </div>
                <button class="btn btn-default" modal-trigger="searchResults">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>

<simple-modal ElementId="searchResults" title="Matching Sessions">
    <div class="list-group">
        <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events', session.id]">{{session.name}}</a>
    </div>
</simple-modal>-->
