@model PlasticManufacturer.Domain.Entities.RawMaterial.Category

@{
    ViewBag.Title = "Edit";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a href="#" class="panel-expander notext fr">&nbsp;</a>
        <h2 class="clipboard">Edit Category</h2>
    </div>


    <form action="/Categories/Edit/@Model.Id" id="create" method="post">
        <div class="panel-container">
            <div class="options">
                <ul>
                    <li>

                        <a class="post" href='javascript:create.submit()'>Post</a>
                    </li>

                    <li><a class="cancel" href="/Categories?Length=0">Cancel</a></li>
                </ul>
            </div>
            @Html.AntiForgeryToken()


            <div class="form-horizontal">

                <input data-val="true" data-val-number="O campo Id deve ser um número." data-val-required="O campo Id é obrigatório." id="Id" name="Id" type="hidden" value= "@Model.Id" />

                <div class="form-group">
                    <label class="control-label col-md-2" for="Name">Name</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="@Model.Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Description">Description</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Description" name="Description" type="text" value="@Model.Description" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

