<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>F&amp;D PLASTICS | Exellence In Color</title>
    <link rel="shortcut icon" type="image/x-icon" href="/css/images/favicon.ico" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" media="all" />


    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/facebox.css" type="text/css" media="all" />
    <!--[if IE 6]><link rel="stylesheet" href="~/css/ie6.css" type="text/css" media="all" /><![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="js/jquery.js" type="text/javascript"></script> -->
    <script src="/js/facebox.js" type="text/javascript"></script>
    <script src="/js/jquery-fns.js" type="text/javascript"></script>


    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#ch').change(function () {
                var value = $(this).val();
                if (value == '0') {
                    $('#div_dch').show();

                } else {
                    $('#div_dch').hide();
                }
            });
        });
    </script>
    <style type="text/css">
        .scroll {
            width: auto;
            height: auto;          
            overflow: auto;
            overflow-y: hidden;
            margin: 0;
            white-space: nowrap;
        }
    </style> 



</head>
<body>
    <div id="wrapper">
        <div id="content">
            <div class="shell">
                <div class="white-box">
                    <div class="cnt">
                        <div class="panel spacer-20">

                            <div class="panel-heading no-padding">
                                <a href="#" class="panel-expander notext fr">&nbsp;</a>
                                <h2 class="clipboard">Tela</h2>
                            </div>

                            <div class="options">
                                <ul>
                                    <li><a href="#" class="post">Post</a></li>
                                    <li>@Html.ActionLink("Cancel", "Index", "", new { @class = "cancel" })</li>
                                    <li><a href="#" class="new">New</a></li>
                                    <li><a href="#" class="delete">Delete</a></li>                                   
                                    <li><a href="#" class="exit">Exit</a></li>
                                </ul>
                            </div>

                            <div class="panel-container">
                                <div class="fields-row">
                                    <div class="fields-bar">
                                        <div class="form-group">
                                            <div class="col">
                                                <label class="custom-select">Costumer</label>
                                                <select>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label class="custom-select">Address</label>
                                                <select>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label class="custom-select">Item</label>
                                                <select>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-info color-match">
                                    <div class="scroll">
                                        <table class="gn-table m-b-20 ">
                                            <thead class="qudr">
                                                <tr>
                                                    <th>Customer</th>
                                                    <th>Address</th>
                                                    <th>Item</th>
                                                    <th>C.O.A</th>
                                                    <th>MSDS</th>
                                                    <th>Material Sheet</th>
                                                    <th>FDA Letter</th>
                                                    <th>UV</th>
                                                    <th>CMR Chips Qty</th>
                                                    <th>CMR ChipsAhead</th>
                                                    <th>CMRSample Qty</th>
                                                    <th>CMR Sample Ahead</th>
                                                    <th>Sample Chips Qty</th>
                                                    <th>Sample Chips Ahead</th>
                                                    <th>Sample For Sample Orde Qty</th>
                                                    <th>Sample For Sample Orde Ahead</th>
                                                    <th>SO Chips Qty</th>
                                                    <th>SO Sample  Qty</th>
                                                    <th>SO Sample Ahead</th>
                                                    <th>SO Package</th>
                                                    <th>Package Order  Ahead</th>
                                                    <th>Formula Card Note 1</th>
                                                    <th>Formula Card Note 2</th>
                                                    <th>SO Note 1</th>
                                                    <th>SO Note </th>
                                                    <th>SO Line<br /> Note 1</th>
                                                    <th>Currency</th>
                                                    <th>Unity</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="before-selected">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="panel-container spacer-20">
                                    <div class="color-match">
                                        <table class="gn-table eq-table">
                                            <thead>
                                                <tr>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <ul class="info-list">
                                                            <li>
                                                                <label class="custom-select">C.O.A</label>
                                                                <select>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                </select>
                                                            </li>
                                                            <li>
                                                                <label>CMR&nbsp;&nbsp;</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>

                                                            </li>
                                                            <li>
                                                                <label>Sample</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <label>SO</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                        </ul>
                                                        <ul class="info-list">
                                                            <li>
                                                                <label class="custom-select">MSDS</label>
                                                                <select>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                </select>
                                                            </li>
                                                            <li>
                                                                <label>CMR&nbsp;&nbsp;</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <label>Sample</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <label>SO</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                        </ul>
                                                        <ul class="info-list">
                                                            <li>
                                                                <label class="custom-select">CIELAB</label>
                                                                <select>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                </select>

                                                            </li>
                                                            <li>
                                                                <label>CMR&nbsp;&nbsp;</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>

                                                            </li>
                                                            <li>
                                                                <label>Sample</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <label>SO</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                        </ul>
                                                        <ul class="info-list">
                                                            <li>
                                                                <label class="custom-select">Material Sheet</label>
                                                                <select>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                </select>
                                                            </li>
                                                            <li>
                                                                <label>CMR&nbsp;&nbsp;</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <label>Sample</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <label>SO</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                        </ul>
                                                        <ul class="info-list">
                                                            <li>
                                                                <label class="custom-select">FDA Letter</label>
                                                                <select>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                </select>
                                                            </li>
                                                            <li>
                                                                <label>CMR&nbsp;&nbsp;</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <label>Sample</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <label>SO</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                        </ul>
                                                        <ul class="info-list">
                                                            <li>
                                                                <label class="custom-select">UV</label>
                                                                <select>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                </select>
                                                            </li>
                                                            <li>
                                                                <label>CMR&nbsp;&nbsp;</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <label>Sample</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <label>SO</label>
                                                                <div class="chk-box">
                                                                    <input class="check-box" type="checkbox" />
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul class="info-list">

                                                            <li>  <h1>&nbsp;</h1></li>
                                                            <li>  <h1>&nbsp;</h1></li>
                                                            <li>  <h1>&nbsp;</h1></li>
                                                            <li>  <h1>&nbsp;</h1></li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <table class="gn-table in-table">
                                                            <tbody>
                                                                <tr>
                                                                    <td data-title="Sample Concentrate" class="last">
                                                                        <ul class="info-list">
                                                                            <li>
                                                                                <h4>NUMBER OF CHIPS<br />REQUERED FORS</h4>
                                                                            </li>
                                                                            <li>  <h1>&nbsp;</h1></li>
                                                                            <li>  <h1>&nbsp;</h1></li>
                                                                            <li>  <h1>&nbsp;</h1></li>
                                                                            <li>  <h1>&nbsp;</h1></li>
                                                                            <li>
                                                                                <h4>TO BE SENT <br />AHEAD OF TIME</h4>
                                                                            </li>
                                                                        </ul>
                                                                        <ul class="info-list">
                                                                            <li>
                                                                                <label>CMR </label>
                                                                                <input class="form-control text-box single-line" type="text" />
                                                                            </li>
                                                                            <li>  <h1>&nbsp;</h1></li>
                                                                            <li>  <h1>&nbsp;</h1></li>
                                                                            <li>
                                                                                <label>&nbsp;</label>
                                                                                <div class="chk-box">
                                                                                    <input class="check-box" type="checkbox" />
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                        <ul class="info-list">
                                                                            <li>
                                                                                <label>Sample</label>
                                                                                <input class="form-control text-box single-line" type="text" />
                                                                            </li>
                                                                            <li>  <h1>&nbsp;</h1></li>
                                                                            <li>  <h1>&nbsp;</h1></li>
                                                                            <li>
                                                                                <label>&nbsp;</label>
                                                                                <div class="chk-box">
                                                                                    <input class="check-box" type="checkbox" />
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                        <ul class="info-list">
                                                                            <li>
                                                                                <label>Maximum Heat </label>
                                                                                <input class="form-control text-box single-line" type="text" />
                                                                            </li>

                                                                            <li>  <h1>&nbsp;</h1></li>
                                                                            <li>  <h1>&nbsp;</h1></li>
                                                                            <li>
                                                                                <label>&nbsp;</label>
                                                                                <div class="chk-box">
                                                                                    <input class="check-box" type="checkbox" />
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                        <div style="border-top: 1px solid #c6ddeb;padding:10px 0" ></div>
                                                                        <ul class="info-list">
                                                                            <li>
                                                                                <label>Currency</label>
                                                                                <select>
                                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Package Fo Sales;&nbsp;&nbsp; &nbsp;</option>
                                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                                </select>
                                                                            </li>
                                                                        </ul>
                                                                      
                                                                        <ul class="info-list">
                                                                            <li>
                                                                                <label>Unity</label>
                                                                                <select>
                                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Package Fo Sales;&nbsp;&nbsp; &nbsp;</option>
                                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                                </select>
                                                                            </li>
                                                                        </ul>
                                                                        <ul class="info-list">
                                                                            <li>
                                                                                <label>Show COA Moisture/Pellet</label>
                                                                                <select>
                                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                                </select>
                                                                            </li>
                                                                        </ul>
                                                                        <ul class="info-list">
                                                                            <li>
                                                                                <label>Package For Sales Order</label>
                                                                                <select>
                                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Package Fo Sales;&nbsp;&nbsp; &nbsp;</option>
                                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                                </select>
                                                                            </li>
                                                                        </ul>
                                                                        <ul class="info-list">
                                                                            <li>
                                                                                <label>Package For Sales Order To Be Sent Ahead Of Time</label>
                                                                                <select>
                                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Package Fo Sales;&nbsp;&nbsp; &nbsp;</option>
                                                                                    <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                                                </select>
                                                                            </li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                   </tbody>
                                             </table>
                                         </div>
                                    </div>

                                <div class="panel-container">
                                    <ul class="info-list"><li></li></ul>
                                    <table class="gn-table ta-table">
                                        <thead>
                                            <tr class="nt">
                                                <th>F. Card Note 1</th>
                                                <th>F. Card Note 2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <textarea></textarea>
                                                </td>
                                                <td>
                                                    <textarea></textarea>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="gn-table ta-table">
                                        <thead>
                                            <tr>
                                                <th>SO Note</th>
                                                <th>Sample Note</th>
                                                <th>CMR Note</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <textarea></textarea>
                                                </td>
                                                <td>
                                                    <textarea></textarea>
                                                </td>
                                                <td>
                                                    <textarea></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                       </div>
                  </div>                 
             </div>
        </div>
     </div>
</div>
</body>
</html>
