<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a href="#" class="panel-expander notext fr">&nbsp;</a>
        <h2 class="clipboard">Raw Material</h2>
    </div>
    <div class="panel-container">
        <div class="options">
            <ul>
                <li><a class="new" href="/RawMaterials/Create?Length=0">New</a></li>
            </ul>
        </div>
        <table class="form-horizontal table2 gn-table">
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Notes
                </th>
                <th>
                    Is Active?
                </th>
                <th>
                    Category
                </th>
                <th colspan="2"></th>
            </tr>

        </table>
    </div>
</div>