<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a href="#" class="panel-expandes notext fr">&nbsp;</a>
        <h2 class="clipboard">Create Raw Material</h2>
    </div>
    <form name="form" method="post" action="/RawMaterials/Create" id="create">

        <div class="panel-container">
            <div class="options">
                <ul>
                    <li>

                        <a class="post" onclick="return validation();" href='javascript:create.submit()'>Post</a>
                    </li>

                    <li><a class="cancel" href="/RawMaterials?Length=0">Cancel</a></li>
                </ul>
            </div>
            <input name="__RequestVerificationToken" type="hidden" value="VIV8folvjDig3cgweJfWTiE987QMoWLkJngSrVlhHVxsO0FqOBsFNyAD5jxqK_uKuq522Vn8JhEnBqBRZBzGEIHOe3qRHsm_x5aQmyT5ek01" />

            <div class="form-horizontal">


                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label class="control-label col-md-2" for="Code">Code</label>
                                <input class="form-control text-box single-line" id="Code" name="Code" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Code" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col">
                                <label class="control-label col-md-2" for="Name">Name</label>
                                <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col">
                                <label class="control-label col-md-2" for="Description">Description</label>
                                <input class="form-control text-box single-line" id="Description" name="Description" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label class="control-label col-md-2" for="Notes">Notes</label>
                                <input class="form-control text-box single-line" id="Notes" name="Notes" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col">
                                <label class="control-label col-md-2" for="ChemicalName">ChemicalName</label>
                                <input class="form-control text-box single-line" id="ChemicalName" name="ChemicalName" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="ChemicalName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col">
                                <label class="control-label col-md-2" for="Status">Status</label>
                                <select name="Status" id="Status" class="form-control" style="width:200px">
                                    <option value=""></option>
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>

                                </select>

                            </div>
                        </div>
                    </div>
                </div>




                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label class="control-label col-md-2" for="MainSupplier">MainSupplier</label>
                                <input class="form-control text-box single-line" id="MainSupplier" name="MainSupplier" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="MainSupplier" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col">
                                <label class="control-label col-md-2" for="MainCustomer">MainCustomer</label>
                                <input class="form-control text-box single-line" id="MainCustomer" name="MainCustomer" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="MainCustomer" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col">
                                <label class="control-label col-md-2" for="Category">Category</label>

                                <select name="Category.Id" id="Category_Id" class="form-control" style="width: 200px">
                                    <option value=""></option>



                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label class="control-label col-md-2" for="HeatStability">HeatStability</label>
                                <input class="form-control text-box single-line" id="HeatStability" name="HeatStability" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="HeatStability" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col">
                                <label class="control-label col-md-2" for="LightSatability">LightSatability</label>
                                <input class="form-control text-box single-line" id="LightSatability" name="LightSatability" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="LightSatability" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col">
                                <label class="control-label col-md-2" for="BarCode">BarCode</label>
                                <input class="form-control text-box single-line" id="BarCode" name="BarCode" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="BarCode" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields-row">
                    <div class="fields-bar">
                        <div class="form-group">
                            <div class="col">
                                <label class="control-label col-md-2" for="QCRequired">QCRequired</label>
                                <div class="checkbox">
                                    <input class="check-box" data-val="true" data-val-required="O campo QCRequired é obrigatório." id="QCRequired" name="QCRequired" type="checkbox" value="true" /><input name="QCRequired" type="hidden" value="false" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="QCRequired" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col">
                                <label class="control-label col-md-2" for="Fda">Fda</label>
                                <div class="checkbox">
                                    <input class="check-box" data-val="true" data-val-required="O campo Fda é obrigatório." id="Fda" name="Fda" type="checkbox" value="true" /><input name="Fda" type="hidden" value="false" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Fda" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col">
                                <label class="control-label col-md-2" for="Hbfb">Hbfb</label>
                                <div class="checkbox">
                                    <input class="check-box" data-val="true" data-val-required="O campo Hbfb é obrigatório." id="Hbfb" name="Hbfb" type="checkbox" value="true" /><input name="Hbfb" type="hidden" value="false" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Hbfb" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

